.DS_Store
.atom/
.idea
.packages
.dart_tool/
.metadata
.pub/
build/
ios/.generated/
android/.gradle/
packages
pubspec.lock
flutter_single_getx_api_v2.iml


# Miscellaneous
*.class
*.log
*.pyc
*.swp
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/
